## NLP : AMAZON-REVIEW ANALYSIS USING NAIVE BAYES ALGORITHM

Task #1: Understand the Problem Statement and business case

Task #2: Import libraries and datasets

Task #3: Perform Exploratory Data Analysis

Task #4: Plot the WORD CLOUD

Task #5: Perform Data Cleaning - REMOVE PUNCTUATION FROM TEXT

Task #6: Perform Data Cleaning - REMOVE STOPWORDS

Task #7: Prepare the data by applying count vectorizer

Task #8: Create a Pipeline to remove Punctuations, Stopwords and perform COUNT VECTORIZATION

Task #9: Train a Naive Bayes Classifier

Task #10: Assess trained model performance

## Task #2: Import Liabraries and Datasets

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from jupyterthemes import jtplot
from wordcloud import WordCloud

jtplot.style(theme='monokai', context='notebook', ticks=True, grid=False)

In [3]:
# Loading Dataset
amazon_df=pd.read_csv("amazon_reviews.csv")
amazon_df

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [4]:
amazon_df.columns

Index(['rating', 'date', 'variation', 'verified_reviews', 'feedback'], dtype='object')

In [5]:
amazon_df.describe()

            rating     feedback
count  3150.000000  3150.000000
mean      4.463175     0.918413
std       1.068506     0.273778
min       1.000000     0.000000
25%       4.000000     1.000000
50%       5.000000     1.000000
75%       5.000000     1.000000
max       5.000000     1.000000

In [6]:
amazon_df.shape

(3150, 5)

In [8]:
amazon_df['rating'].unique()

array([5, 4, 3, 2, 1], dtype=int64)

In [9]:
amazon_df['feedback'].unique()

array([1, 0], dtype=int64)